* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header-holder {
    background-color: #379683;
    text-align: center;
    padding: 30px 0 30px 0;
}

.contributor-holder {
    width: 14%;
    box-shadow: 5px 5px 5px 5px rgba(110, 110, 110, 0.32);
    margin: 2.5%;
    display: inline-block;
}

.avatar-holder img {
    max-width: 100%;
}
