{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contributors</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/contributors.css' %}">
</head>
<body>
    <div class="header-holder">
        <h1>Special thanks to this guys 🔥🔥🔥</h1>
    </div>

    {% for contributor in contributors %}
        <div class="contributor-holder">
            <div class="avatar-holder">
                <img src="{{ contributor.avatar }}">
            </div>
            <div class="login-holder">
                <a href="{{ contributor.profile_url }}">{{ contributor.login }}</a>
            </div>

            <div class="commits-holder">
                <p>Commits: {{ contributor.total }}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>