{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
</head>
<body>
    <div class="form-holder">
        <form id="input-form" method="post" action="{% url 'blog:publish' %}">
            {% csrf_token %}
            <label>Create a new post</label><br>
            <input class="input-area" type="text" name="header" maxlength="50" placeholder="Title" required><br>
            <textarea class="input-area" cols="60" rows="10" name="text" placeholder="Content" form="input-form" required></textarea><br>
            <input type="submit">
        </form>
    </div>

    <div class="content-holder">
        {% if latest_posts_list %}
            <ul>
            {% for post in latest_posts_list %}
                <li>
                    <a class="article" href="{% url 'blog:detail' post.id%}">{{ post.header }}</a>
                    <p>{{ post.views }} 👁</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    </div>
</body>
</html>