{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
</head>
<body>
    {% include 'blog/menu_template.html' %}
    <div class="form-holder">
        <form id="input-form" method="post" action="{% url 'blog:publish' %}">
            {% csrf_token %}
            <div class="header-holder">
                <label>CREATE NEW POST</label><br>
            </div>
            <input class="input-area" type="text" name="header" maxlength="50" placeholder="Title" required><br>
            <textarea maxlength="1000" class="input-area" cols="60" rows="10" name="text" placeholder="Content" form="input-form" required></textarea><br>
            <input class="button" type="submit">
        </form>
    </div>

    <div class="content-holder">
        {% if latest_posts_list %}
            <ul class="post_list">
            {% for post in latest_posts_list %}
                <li>
                    <div class="header-holder">
                        <a class="article" href="{% url 'blog:detail' post.id%}">{{ post.header }}</a>
                    </div>
                    <div class="text-holder">
                        <p>{{ post.text }}</p>
                    </div>
                    <div class="views-holder">
                        <p>{{ post.publication_date }} | Views: {{ post.views }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    </div>
</body>
</html>